.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  font-size: 36px;
  font-weight: bold;
}
.banner {
  height: 20%;
}
@media screen and (max-width: 614px) {
  .banner {
    width: 80%;
  }
}
