$gray-002: #66686C;
$gray-003: #EDEEF2;

.movie {
  width: 200px;
  color: $gray-003;

  &Poster {
    border-radius: 10px;
  }

  &Title {
    padding: .5rem 0 .2rem 0;
    font-weight: bold;
  }

  &Rating {
    display: flex;
    align-items: center;

    & > label {
      margin-left: 0.5rem;
      font-weight: bold;
      color: $gray-002;
    }
  }
}