$primary-color: #0F0F14;
$primary-font-color: #FFFFFF;

$gray-001: #1A1820;
$gray-002: #66686C;
$gray-003: #EDEEF2;
$gray-004: #222127;

//Media query helpers
$mobile-width: 544px;
$tablet-width: 768px;

.container {
  display: flex;
  flex-direction: column;
  background: $primary-color;
  min-height: 100vh;
  height: 100%;
  color: $primary-font-color;

  .header {
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
    justify-content: space-between;

    position: relative;
    padding: 2rem 3rem;

    & > a {
      display: flex;
      align-items: center;
    }

    .hamburgerMenu {
      display: none;
    }

    @media (max-width: $mobile-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 1rem 1.5rem;

      & > a > svg {
        margin-left: 16px;
        width: 30px;
        height: 30px;
      }

      .hamburgerMenu {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &Button {
          border: unset;
          background: $gray-003;
          height: 1.5008px;
          width: 14px;
          border-radius: 4px;
          position: relative;
          transition: all .2s;
          cursor: pointer;

          &:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 2.5px;
            left: 0px;
            border-radius: 4px;
            bottom: 6px;
            background: $gray-003;
            transition: all .2s;
          }
        
          &:after {
            content: '';
            position: absolute;
            width: 14px;
            height: 1.5px;
            left: 0px;
            border-radius: 4px;
            top: 6px;
            background: $gray-003;
            transition: all .2s;
          }

          &[data-active=true] {
            background-color: transparent;

            &:before {
              top: 0;
              transform: rotate(45deg);
              background: $gray-003;
              height: 1.5px;
            }
  
            &:after {
              top: 0;
              transform: rotate(135deg);
              background: $gray-003;
            }
          }
        }
      }
    }

    &Actions {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;

      &Search {
        color: $primary-font-color;
        background: $gray-001;
        border-radius: 20px;
        line-height: 2rem;
        padding: 4px 20px;
        outline: none;
        border: none;
        min-width: 50%;

        font-size: 1rem;

        @media (max-width: $mobile-width) {
          margin: 1rem 0;
          min-width: 100%;
        }
      }

      &List {
        display: flex;
        align-items: center;
        gap: 2rem;
        background: none;
        border: none;
        background: $primary-color;

        @media (max-width: $mobile-width) {
          display: none;
        }

        & > li > a {
          font-weight: bold;
          color: $gray-002;

          & > img {
            max-width: 3rem;
            border-radius: 100px;
            border: $gray-002 1px solid;
          }
        }

        & > li {
          &[data-active=true] {
            & > a {
              color: $gray-003;
            }
          }
        }
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: 2fr 9fr 3fr;
    min-height: 100vh;
    height: 100%;
    position: relative;

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
    }

    .navBar {
      padding: 3rem 4rem 2rem 3rem;
      background: $primary-color;

      @media (max-width: $mobile-width) {
        padding: 2rem 4rem 2rem 3rem;

        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        transition: all .5s ease;
        transform: translateX(-100%);

        &[data-active=true] {
          transform: translateX(0);
        }
      }

      &Categories {
        &List {
          margin-bottom: 2rem;
          color: $gray-003;
          font-weight: bold;

          & > ul {
            padding: .4rem 0;

            & > li {
              font-weight: normal;
              padding: .4rem 0;
              color: $gray-003;

              & > a {
                color: $gray-002;
              }
            }
          }
        }
      }

      &Profile {
        display: none;
        padding-bottom: 1rem;
        border-bottom: $gray-004 solid 1px ;

        @media (max-width: $mobile-width) {
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;
          color: $gray-003;
  
          & > li {
            font-weight: bold;
            padding: .4rem 0;
            color: $gray-003;
  
            & > a {
              color: $gray-002;
  
              & > img {
                max-width: 2rem;
                border-radius: 100px;
                border: $gray-002 1px solid;
              }
            }
          }
        }
      }
    }

    .content {
      width: 100%;
      background: $gray-001;
      padding: 3rem;
      border-radius: 20px 0 0 0;

      @media (max-width: $mobile-width) {
        padding: 2.5rem;
        border-radius: 20px 20px 0 0;
      }
    }

    .sideBar {
      padding: 3rem;
      background: $gray-004;
      height: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      & > h1 {
        font-weight: bold;
        font-size: 1.3rem;
      }

      &Trailers {
        padding: 1rem 0;

        & > img {
          border-radius: 10px;
          margin: 1rem 0;
        }

        & > p {
          color: $gray-003;
        }
      }
    }
  }
}
